In [ ]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [ ]:
# We are doing this to get segments of customer in churn eg- conditional churn, lifestyle migrator, unsatisfied churner 

df=pd.read_csv('Telco_data_dummies.csv')

In [ ]:
df.head(5)

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_bins_1 - 12,tenure_bins_13 - 24,tenure_bins_25 - 36,tenure_bins_37 - 48,tenure_bins_49 - 60,tenure_bins_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [ ]:
df=df.drop('Unnamed: 0',axis=1)

In [ ]:
df.head(5)

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_bins_1 - 12,tenure_bins_13 - 24,tenure_bins_25 - 36,tenure_bins_37 - 48,tenure_bins_49 - 60,tenure_bins_61 - 72
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0

In [ ]:
#Create X and Y variables
x=df.drop('Churn',axis=1)
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_bins_1 - 12,tenure_bins_13 - 24,tenure_bins_25 - 36,tenure_bins_37 - 48,tenure_bins_49 - 60,tenure_bins_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [ ]:
y=df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size =0.2)
# converting data to testing data and training data
# 0.2 means converting around 2000 records to testing data,
# we'll first train the model and then test it on these records for the results accuracy

####Decision Tree Classifier

In [ ]:
model_dt = DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8 )

In [ ]:
model_dt.fit(x_train,y_train)
#these values of random_state, max_depth may not be exact-
#  we use hyper parameter optimization(code) to get the best values

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [ ]:
y_pred=model_dt.predict(x_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
model_dt.score(x_test,y_test)
# to compare the accuracy of the created model- model created on imbalanced data
#comparing the y predicted and y test values
#accuracy is high but it is cursed

0.7846481876332623

In [ ]:
print(metrics.confusion_matrix(y_test,y_pred))
# the false positive and false negatives are very high

[[921 118]
 [185 183]]

In [ ]:
print(classification_report(y_test,y_pred,labels=[0,1]))
print(confusion_matrix)

              precision    recall  f1-score   support

           0       0.83      0.89      0.86      1039
           1       0.61      0.50      0.55       368

    accuracy                           0.78      1407
   macro avg       0.72      0.69      0.70      1407
weighted avg       0.77      0.78      0.78      1407

<function confusion_matrix at 0x7fac7a2503b0>

As you can see that the accuracy is quite low, and as it's an imbalanced dataset, we shouldn't consider Accuracy as our metrics to measure the model, as Accuracy is cursed in imbalanced datasets.


Hence, we need to check recall, precision & f1 score for the minority class, and it's quite evident that the precision, recall & f1 score is too low for Class 1, i.e. churned customers.


Hence, moving ahead to call SMOTEENN (UpSampling + ENN)

In [ ]:
#we use SMOTE for upsampling and ENN for cleaning
sm=SMOTEENN()
X_resampled, y_resampled= sm.fit_resample(x,y)

In [ ]:
xr_train,xr_test,yr_train,yr_test=train_test_split(X_resampled,y_resampled,test_size=0.2)

In [ ]:
model_dt_smote=DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8,)

In [ ]:
model_dt_smote.fit(xr_train,yr_train)
yr_predict=model_dt_smote.predict(xr_test)
model_score_r=model_dt_smote.score(xr_test,yr_test)
print(model_score_r)
print(metrics.classification_report(yr_test,yr_predict))

0.9316455696202531
              precision    recall  f1-score   support

           0       0.92      0.92      0.92       505
           1       0.94      0.94      0.94       680

    accuracy                           0.93      1185
   macro avg       0.93      0.93      0.93      1185
weighted avg       0.93      0.93      0.93      1185

In [ ]:
print(metrics.confusion_matrix(yr_test,yr_predict))

[[466  39]
 [ 42 638]]

Now we can see quite better results, i.e. Accuracy: 92 %, and a very good recall, precision & f1 score for minority class.


Let's try with some other classifier

####Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
model_rf=RandomForestClassifier(n_estimators=100, criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)
model_rf.fit(x_train, y_train)
y_pred_rf= model_rf.predict(x_test)
model_rf.score(x_test,y_test)

0.8052594171997157

In [ ]:
print(classification_report(y_test,y_pred_rf,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.83      0.93      0.88      1039
           1       0.70      0.45      0.55       368

    accuracy                           0.81      1407
   macro avg       0.76      0.69      0.71      1407
weighted avg       0.79      0.81      0.79      1407

In [ ]:
 sm =SMOTEENN()
 X_resampled1, y_resampled1= sm.fit_resample(x,y)

In [ ]:
xr_train1,xr_test1,yr_train1,yr_test1=train_test_split(X_resampled1,y_resampled1,test_size=0.2)

In [ ]:
model_rf_smote=RandomForestClassifier(n_estimators=100, criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)

In [ ]:
model_rf_smote.fit(xr_train1,yr_train1)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [ ]:
yr_predict1=model_rf_smote.predict(xr_test1)

In [ ]:
model_score_r1=model_rf_smote.score(xr_test1, yr_test1)

In [ ]:
print(model_score_r1)
print(metrics.classification_report(yr_test1, yr_predict1))

0.9454855195911414
              precision    recall  f1-score   support

           0       0.94      0.94      0.94       549
           1       0.95      0.95      0.95       625

    accuracy                           0.95      1174
   macro avg       0.95      0.95      0.95      1174
weighted avg       0.95      0.95      0.95      1174

In [ ]:
print(metrics.confusion_matrix(yr_test1, yr_predict1))

[[515  34]
 [ 30 595]]

With RF Classifier, also we are able to get quite good results, infact better than Decision Tree.

####Performing PCA

In [1]:
#Applying PCA
from sklearn.decomposition import PCA
pca= PCA(0.9)
xr_train_pca = pca.fit_transform(xr_train1)
xr_test_pca=pca.transform(xr_test1)
explained_variance=pca.explained_variance_ratio_

NameError: ignored

In [ ]:
model=RandomForestClassifier(n_estimators=100, criterion='gini',max_depth=6,random_state=100,min_samples_leaf=8)

In [ ]:
model.fit(xr_train_pca, yr_train1)

In [ ]:
yr_predict_pca=model.predict(xr_test_pca)

In [ ]:
model_score_r_pca= model.score(xr_test_pca, yr_test1)

In [ ]:
print(model_score_r_pca)
print(metrics.classification_report(yr_test1, yr_predict_pca))

With PCA, we couldn't see any better results, hence let's finalise the model which was created by RF Classifier, and save the model so that we can use it in a later stage :)

####Picking the Model

In [ ]:
# we save the model, and the next time we want we can directly call
#the prediction function- model.sav
import pickle

In [ ]:
filename= 'model.sav'

In [ ]:
pickle.dump(model_rf_smote, open(filename, 'wb'))

In [ ]:
load_model = pickle.load(open(filename, 'rb'))
load_model

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [ ]:
model_score_r1 = load_model.score(xr_test1, yr_test1)

In [ ]:
model_score_r1

0.9454855195911414